body {
    background-color: rgb(214, 207, 220);
    margin: 0px;
    background-size: 1300px;
}

header {
background-color: blueviolet;
padding: 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.logo {
    width: 50px;
    background-color: rgb(64, 226, 43);
}
.main-navigation {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-navigation a {
    color: rgb(255, 248, 43);
    text-decoration: none;
    /* display: inline-block; */
    padding: 5px;
    font-size: 20px;
}
.main-navigation a:hover {
    background-color: rgb(255, 248, 43);
    color: blueviolet;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: black;
    max-height: 0px;
    overflow: hidden;
}
.dropdown-menu a {
    white-space: nowrap;
}
.dropdown {
    position:relative;
}
.dropdown:hover > .dropdown-menu {
    max-height: 50vh;
}


.banner {
    min-height: 50vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(cha-estiloso.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    color: yellow;
    text-align: center;
}
.banner-button {
    display: block;
    background-color: rgb(255, 248, 43);
    color: blueviolet;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em; */
    margin: 2em auto;
    gap: 20px;
}
.card {
    /* max-width: 33.33%; */
    background-color: rgb(233, 219, 247);
    flex: 1;
}
.card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 100%;
}
.card-content a {
    display: block;
    background-color: blueviolet;
    padding: 1em;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 5px; 
}
.main-footer {
    background-color: rgb(255, 248, 43);
    min-height: 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}
.social a {
    color: blueviolet;
    text-decoration: none;
    font-size: 1.5em;
    
}
.social {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 5px;
}
.copyright {
    color: blueviolet;
}

