body {
    background-color: rgb(214, 207, 220);
    margin: 0px;
    background-size: 1300px;
}

header {
background-color: blueviolet;
padding: 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.logo {
    width: 50px;
    background-color: rgb(64, 226, 43);
}
.main-navigation {
    background-color: blueviolet;
}
.main-navigation a {
    color: rgb(255, 248, 43);
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    font-size: 20px;
}
.main-navigation a:hover {
    background-color: rgb(255, 248, 43);
    color: blueviolet;
}

.banner {
    min-height: 50vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(cha-estiloso.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
}
.banner-button {
    display: block;
    background-color: rgb(255, 248, 43);
    color: blueviolet;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}
.card {
    /* max-width: 33.33%; */
    background-color: rgb(233, 219, 247);
    flex: 1;
}
.card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 100%;
}
